/* ==========================================================================
   Doc Styles
   ========================================================================== */
   body, html {
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
   }

   #container {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    display: block;
    border-radius: 0px 0px 15px 15px;
    background-color: #fff;
    padding: 20px 100px 30px;
   }


/* ==========================================================================
   Default Tooltip Styles
   ========================================================================== */

 .tooltip {
    position: relative;
    padding: 0;
 }

 .tooltip:before,
 .tooltip:after {
    display: block;
    position: absolute;
    text-align: center;
 }
 
 .tooltip:hover:before {
    content: " ";
    border: transparent solid;
    border-color: rgba(136, 183, 213, 0);
    border-width: 10px;
    height: 0;
    width: 0;
    opacity: 0.6;
 }

 .tooltip:hover:after {
    content: attr(data-tooltip);
    color: #fff;
    min-width: 200px;
    min-height: 50px;
    padding: 5px 10px;
    opacity: 0.6;
    border-radius: 5px;
 }

/*
 * Top tip
 */

 .tooltip.top:before {
    border-top-color: #000;
    left: 50%;
    top: 0;
 }

 .tooltip.top:after {
    bottom: 100%;
    left: 0;
    background: #000;
 }

 /*
 * Right tip
 */

  .tooltip.right:before {
    border-right-color: #000;
    right: 0;
    bottom: 0;
 }

 .tooltip.right:after {
    bottom: -100%;
    left: 100%;
    background: #000;
 }

 /*
 * Bottom tip
 */

 .tooltip.bottom:before {
    border-bottom-color: #000;
    right: 50%;
    bottom: 0;
    margin-left: 0;
 }

 .tooltip.bottom:after {
    top: 100%;
    left: 0;
    background: #000;
 }


 /*
 * Left tip
 */

  .tooltip.left:before {
    border-left-color: #000;
    left: 0;
    bottom: 0%;
 }

 .tooltip.left:after {
    bottom: -100%;
    right: 100%;
    background: #000;
 }